.blog1 {
  color: green;
  font-style: italic;
  font-weight: bolder;
}
.blog2 {
  color: purple;
  font-style: bold;
  font-family: monospace;
}
.blog3 {
  color: red;
  font-style: italic;
  font-family: fantasy;
}
.author {
  color: blue;
  font-style: oblique;
  font-family: inherit;
}
